* {
    font-family:Arial, Helvetica, sans-serif
}

:root{
    --primary: #2d2275;
    --secondary: #177648;
    --tertiary: #75170b;
}

#topInfo{
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: space-around;
    margin-top: 100px;
    margin-left: 60px;
    margin-right: 60px;
}

#quizQuestion{
    align-content: center;
}

.quizDesc{
    font-size: 15px;
    font-style: italic;
}

.startBtn{
    outline: none;
    border: none;
    background: var(--primary);
    color: #ffffff;
    border-radius: 6px;
    margin: 0 auto;
    padding: 15px 30px;
    font-size: 16px;
    margin-top: 25px;
}

.startBtn:hover {
    background: var(--secondary);
}

.choicesList:hover{
    background-color: #177648;
}

.form{
    height: 100px;
}

.submitBtn{
    outline: none;
    border: none;
    background: var(--tertiary);
    color: #ffffff;
    border-radius: 6px;
    margin: 0 auto;
    padding: 15px 30px;
    font-size: 15px;
    margin-top: 10px;

}